{
  "presets": ["env", "stage-1", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "sourceMaps": "both"
    }
  }
}
