root: true

parser: babel-eslint

extends: [standard, standard-react, prettier, prettier/react]
plugins: [babel, react, prettier]

env:
  browser: true
  es6: true
  node: true

rules:
  semi: [2, 'never']
  no-console: 'error'
  react/jsx-no-bind: [2, { allowArrowFunctions: true }]
  prettier/prettier: ['error', {
    singleQuote: true,
    trailingComma: 'es6',
    semi: false,
    bracketSpacing: true,
    jsxBracketSameLine: false,
    printWidth: 80,
    tabWidth: 2,
    useTabs: false
  }]
