# package directories
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/.DS_Store
coverage
examples/basic/*js
docs
dist
lib
es
*.log
.nyc_output