language: node_js

node_js:
  - 8
  - 9

cache:
  directories:
    - node_modules

branches:
  only:
    - master

script:
  - npm run lint

addons:
  code_climate:
    repo_token: $CODE_CLIMATE

after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/*/lcov.info
